ARM_CLIENT_ID="..."  #Microsoft Entra ID → App registrations → Your application → Overview → Application (client) ID
ARM_CLIENT_SECRET="..." #Microsoft Entra ID → App registrations → Your application → Certificates & secrets → Client secrets → Value
# You can run this command on Azure CLI: az account show --query "{ARM_SUBSCRIPTION_ID: id, ARM_TENANT_ID: tenantId}" -o json
ARM_TENANT_ID="..." #Microsoft Entra ID → Overview → Tenant ID
ARM_SUBSCRIPTION_ID="..." #Azure Portal → Subscriptions → ton abonnement → Subscription ID
ARM_RESOURCE_PROVIDER_REGISTRATIONS="none"


# source .env